<%-include('./sidebar') %>
<div class="content">
    
    <button class="btn btn-primary profile-button" id="openAddressModal" type="button">
        <i class="fas fa-plus"></i> Add Coupon
    </button>
    
  </div>

